<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FUENTE (ASSISTANT)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet">
    <!--FUENTE (ASUL)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap" rel="stylesheet">
    <!------------------->
    <!--FAVICON-->
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <!---------------------->
    <!--CDN DE BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!------------------------->
    <!--Archivo de estilos-->
    <link rel="stylesheet" href="../assets/css/category.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <!---------------------------->
    <title>BACK</title>
</head>
<body onload="InitProducts()">
    <nav class="navbar">
        <div class="navbar-container">
            <div class="category-navbar-container">
                <ul>
                    <li><a onclick="elegirCategoria(0)" href="#">Hombres</a></li>
                    <li><a onclick="elegirCategoria(1)" href="#">Mujeres</a></li>
                    <li><a onclick="elegirCategoria(2)" href="#">Niños</a></li>
                </ul>
            </div>
            <div class="logo-navbar-container"><a href="../index.html"><img src="../assets/img/logo_new.webp"
                        alt="Logo de la marca de ropa BACK"></a></div>
            <div class="icons-navbar-container">
                <ul>
                    <li><a href="../views/loginAndRegister.html"><i class="bi bi-person-fill fs-4"></i></a></li>
                    <li><a href="../views/car.html"><i class="bi bi-cart-fill fs-5"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <!--CONTENDEOR DE LA BUSQUEDA POR FILTROS-->
        <div class="filter-container hide">
            <div class="filter-encabezado">
                <h2>Filtrar</h2>
                <p id="limpiar-category">Limpiar todo</p>
            </div>
            <div class="tipo-product-container">
                <h3>Categoría</h3>
                <div class="camisas">
                    <input type="radio" title="radio_" id="camisas" name="prenda">
                    <label for="camisas">
                        <p>
                            Camisas
                        </p>
                    </label>
                </div>
                <div class="camisetas">
                    <input type="radio" title="radio_" id="camisetas" name="prenda">
                    <label for="camisetas">
                        <p>
                            Camisetas
                        </p>
                    </label>
                </div>
                <div class="jeans">
                    <input type="radio" title="radio_" id="jeans" name="prenda">
                    <label for="jeans">
                        <p>
                            Jeans
                        </p>
                    </label>
                </div>
                <div class="camisetas">
                    <input type="radio" title="radio_" id="pantalones" name="prenda">
                    <label for="pantalones">
                        <p>
                            Pantalones
                        </p>
                    </label>
                </div>
            </div>
        </div>

        <!--CONTENDEOR QUE VA A MOSTRAR LAS CARTAS DE LOS PRODUCTOS-->
        <div class="category-container">
            <div class="filter-option-container">
                <p id="filtro">
                    Filtrar
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </p>
            </div>

            <!--AQUI IRIAN LAS CARTAS-->
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-container-1">
                <form action="">
                    <input type="email" placeholder="Tu correo electronico">
                    <button type="submit">SUSCRIBIRME</button>
                </form>
                <div class="icons-social-footer">
                    <a href="#" title="icon_instagram"><i class="bi bi-instagram fs-5"></i></a>
                    <a href="#" title="icon_tiktok"><i class="bi bi-tiktok fs-5"></i></a>
                </div>
            </div>
            <p>Al hacer clic en "Suscribirse", consiente recibir correos electrónicos de marketing. El consentimiento no
                es una condición de ninguna compra. Vea nuestra <a href="#">Política de privacidad</a> y <a
                    href="#">cookies</a> y <a href="#">Términos de uso</a>.</p>
            <div class="infoAdicional-footer-container">
                <ul>
                    <li>
                        <a href="#">Información de envío</a>
                    </li>
                    <li>
                        <a href="#">Términos y condiciones</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidad</a>
                    </li>
                    <li>
                        <a href="#">Política de devoluciones</a>
                    </li>
                    <li>
                        <a href="#">Contáctenos</a>
                    </li>
                    <li>
                        <a href="#">Administrar cookies</a>
                    </li>
                </ul>
            </div>
            <div class="footer-container-2">
                <div class="formasPago-footer-container">
                    <img src="../assets/img/SVG_MetodosPago/paypal-color-svgrepo-com.svg" alt="Logo de Paypal">
                    <img src="../assets/img/SVG_MetodosPago/visa-svgrepo-com.svg" alt="Logo de Visa">
                    <img src="../assets/img/SVG_MetodosPago/mastercard-svgrepo-com.svg" alt="Logo de Mastercard">
                </div>
                <p>© 2025 BACK-ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </footer>

    <!--ARCHIVO SCRIPT DE LA SECCION DE CATEGORIAS-->
    <script src="../assets/js/category.js"></script>
    <!----------------------------------------------------->
</body>

</html>