main{
    background-color: #F7F8F9;
}

/*ESTILOS DEL CARRITO CUANDO ESTÁ VACIÓ*/
.carVoid-container{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    font-family: "Assistant", serif;
    display: flex;/*ESTA PROPIEDAD DEBE IR EN FLEX CUANDO NO SE QUIERE OCULTAR*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carVoid-container h2{
    font-weight: 600;
    margin: 20px 0 5px 0;
}

.carVoid-container p{
    color: #CCCED6;
}

.carVoid-container a{
    background-color: #0C121E;
    width: 300px;
    height:50px;
    padding: 13px 0;
    margin: 20px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: "Asul", serif;
    font-weight: 400;
}

/*ESTILOS DEL CARRITO CUANDO HAY PRODUCTOS AGREGADOS*/

.car-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.products-car-container{
    background-color: #fff;
    width: 80%;
    height: 90%;
    overflow-y: auto;
}

.info-products-car-container{
    background-color: #fff;
    width: 20%;
    height: 90%;
}

.resumen-info-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resumen-info-container h2{
    font-size: 18px;
    padding: 15px 0 0 10px;
}

.resumen-info-container h3{
    font-size: 16px;
    padding: 10px 0 0 10px;
}

.resumen-info-container p{
    font-size: 14px;
    padding: 8% 0 0 0;
    color: #F36161;
}

.resumen-info-container a{
    background-color: #0C121E;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 90%;
    height: 50px;
    padding-top: 5%;
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.descuento-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.total-car-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-car-container p{
    font-size: 25px;
    font-weight: bold;
    padding-right: 10px;
}

.pago-info-car-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
}

.pago-info-car-container img{
    width: 30px;
} 

.bg-container{
    background-color: #fff;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCED6;
    border-radius: 10px;
    padding: 5px 10px;
}

/*ESTILOS DEL MODAL PARA SELECCIONAR EL METODO DE PAGO*/
.general-modal-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100vh;
    font-family: "Assistant", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/*ESTA CLASE EVITA QUE SE HAGA SCROLL CUANDO SE MUESTRE EL MODAL*/
.no-scroll {
    overflow: hidden;
}

.modal-container{
    background-color: #fff;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #CCCED6;
    border-radius: 20px;
}

.modal-container h2{
    font-weight: bold;
}

.modal-container button{
    background-color: #0C121E;
    color: #fff;
    width: 60%;
    height: 20%;
    font-weight: bold;
}

.metodos-pago-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.container-metodo{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}

.container-metodo label{
    /* background-color: red; */
    width: 70px;
    padding: 1% 0;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCED6;
    border-radius: 10px;
}

.container-metodo p{
    font-size: 16px;
    padding-top: 3%;
    padding-left: 2%;
}

.container-metodo img{
    width: 30px;
}

.container-metodo input{
    display: none;
}

.radio-button{
    width: 8%;
    height: 70%;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #CCCED6;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.radio-button::after{
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #1775E0;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.radio-button.active::after {
    opacity: 1;
}


/* .card-pago-container{
    display: flex;

}

.card-pago-container img{
    width: 50px;
} */


/*CLASE QUE OCULTA EL CONTENEDOR*/
.hiden{
    display: none;
}