main{
    display: flex;
    justify-content: end;
    font-family: "Assistant", serif;
}

.category-container{
    width: 100%;/*CAMBIAR VALOR A 100%*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 2% 0;
}

.filter-option-container{
    /* background-color: aqua; */
    width: 100%;
    height: 5%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.filter-option-container p{
    font-size: 14px;
    padding-top: 2%;
    cursor: pointer;
}

.filter-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 1%;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.2);
}

.filter-container h2{
    font-weight: bold;
    font-size: 2em;
}

.filter-encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 0 0;
}

#limpiar-category{
    padding-top: 8%;
    font-size: 12px;
    cursor: pointer;
}

#limpiar-category:hover{
    border-bottom: 1px solid #000;
}

.tipo-product-container{
    /* background-color: goldenrod; */
    width: 90%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5% 0 0 5%;
}

.tipo-product-container h3{
    font-weight: 700;
    font-size: 1.5em;
}

.products-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; /* espacio entre cartas */
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.img-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.img-front,
.img-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.img-back {
    opacity: 0;
}

.img-container:hover .img-back {
    opacity: 1;
}

.img-container:hover .img-front {
    opacity: 0;
}

.info-products-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-products-card h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}


.info-products-card p {
    font-size: 14px;
    color: #555;
}

/*CLASE QUE OCULTA ELEMENTOS*/
.hide{
    display: none;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}